// Variáveis
@use '../../abstracts/variables';
@use '../../abstracts/maps';
@use '../../abstracts/mixins';


@use '../../layout/containers';
@use '../../layout/colors';
@use '../../layout/spacing';
@use '../../layout/grid';
@use '../../layout/flex';
@use '../../utilities/flex-utils';

@use '../../layout/reset';

.botao_menu{
    display: none; 
  }

.menu-nav{
    display: block; 
}



@media (max-width: 576px) {
  .botao_menu{
    display: block; 
  }


  .menu-nav{
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: rgb(15, 15, 33);
  }

  .navegacao{
    width: 100%;
    display: block;
  }

  .navegacao:hover{
      background-color: gray;
      border-radius: 5px;
      padding: 5px;
  }

  .esconder{
    display: block;
  }

}