// Variáveis
@use '../../abstracts/variables';
@use '../../abstracts/maps';
@use '../../abstracts/mixins';


@use '../../layout/containers';
@use '../../layout/colors';
@use '../../layout/spacing';
@use '../../layout/grid';
@use '../../layout/flex';
@use '../../utilities/flex-utils';

@use '../../layout/reset';

.botao_menu{
    display: none; 
  }

.navegacao{
    display: block; 
}



@media (max-width: 576px) {
  .botao_menu{
    display: block; 
  }


  .navegacao{
    display: none;
  }

}