.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  color: #fff;
}

.badge-primary { background-color: $color-primary; }
.badge-secondary { background-color: $color-secondary; }
.badge-success { background-color: $color-success; }
.badge-warning { background-color: $color-warning; color: #000; }
.badge-danger { background-color: $color-danger; }
