.container-abacate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-abacate {
    font-family:Arial;
    text-align:center;
    width:280px;
    height: 300px;
    margin:20px auto;
    padding:10px;
    border:1px solid palevioletred;
    border-radius: 15px;
    object-fit: cover;
}

    

.card-abacate img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:50%
}